%h1 Listing posts

%table
  %thead
    %tr
      %th Title
      %th Author
      %th Story
      %th
      %th
      %th

  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td= post.author
        %td= post.story
        %td= link_to 'Show', post
        %td= link_to 'Edit', edit_post_path(post)
        %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= paginate @posts

= link_to 'New Post', new_post_path
